body {
  background-image: url("/img/blackSkin.png");
  color: #aaa;
  padding: 0;
  /* padding-top: 65vh; */
  /* margin-top: -5vh; */
  background-size: cover;
  /* height: 100vh; */
}

.app {
  /* height: 100vh; */
  padding-top: 52.5vh !important;
  padding-right: 10.5vw !important;
}

.app__header__logo__logoImage,
#testArea__component__linguanaImg,
.app__header__logo__logoText,
.stats__component__footerImg {
  display: none;
}

.stats__component--greenCircle {
  color: greenyellow;
}

.stats__component--redCircle {
  color: red;
}

.stats__component--blueCircle {
  color: #4444ff;
}

.app__footer {
  position: absolute;
  bottom: 85px;
  left: 12px;
  font-weight: bold;
}

.wordComparisonDialog > img {
  display: none;
}

.wordComparisonDialog > h1 {
  display: none;
}

.wordComparisonDialog {
  background: #333 !important;
  color: #666 !important;
  width: 30% !important;
  top: 40% !important;
  left: 60% !important;
  font-weight: normal !important;
}

.wordComparisonDialog__okButton {
  color: #999;
  background: #333;
  border: none;
}

.wordComparisonDialog__okButton:focus {
  outline: 0 none;
}

.wordComparisonDialog__Table > td {
  color: red;
}

.app__nav__navButton--openVocabularyManagerButton {
  color: #ddd;
  background: white;
  border: none;
  cursor: pointer;
}

.app__nav__navButton--startNewSessionButton {
  color: #ddd;
  background: white;
  border: none;
  cursor: pointer;
}

.app__header,
.app__nav {
  display: flex;
  justify-content: flex-end;
}

.app__main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.testArea__component__translationForm__translationInputGR:focus {
  outline: 0 none;
}

.startModal {
  background: #14212f !important;
  color: #666 !important;
}

.startModal > img {
  display: none;
}

.startModal > h1 {
  display: none;
}

.semiFinishModal {
  background: #14212f !important;
  color: #666 !important;
}

#semiFinishModal {
  background: #14212f !important;
  color: #666 !important;
}

.semiFinishModal > img {
  display: none;
}

.semiFinishModal > h1 {
  display: none;
}

#finishModal {
  background: #14212f !important;
  color: #666 !important;
}

.finishModal > img {
  display: none;
}

#finishModal > h1 {
  font-size: 1rem;
  font-weight: normal;
}

.finishModalLinguanaFaceImg,
.css-congratulations-img {
  display: none;
}

.app__header__searchForm__searchInput {
  background: #fff !important;
  color: #fff !important;
  border: none;
  display: none;
}

.testArea__component__translationForm {
  display: flex;
  flex-wrap: wrap;
  width: 69vh;
}

.testArea__component__translationForm__sourceTerm {
  color: #555;
  padding-right: 1rem;
}

.testArea__component__translationForm__notes {
  color: #555;
  padding-left: 1rem;
}

.testArea__component__translationForm__translationInputGR {
  background: #3d2003;
  color: #666;
  border: solid 1px #3d200f;
  height: 2rem;
  width: 80vh;
}

.app__header__debugButtons__debugButton {
  height: 1rem;
  cursor: pointer;
  display: none;
}

.translationInput--correctTranslation {
  color: green !important;
}

.app__vocabularyManagerComponent__form__translationInputGR {
  color: blue;
}

.app__vocabularyManagerComponent__form__notes {
  background: #3d2003;
  border: solid 1px #3d200f;
}

.translationForm__entryAlreadyCorrectlyTranslated__false {
  position: absolute;
  padding: 0 !important;
  top: 0px;
  left: 500px;
  font-size: 18px !important;
}

.translationForm__entryAlreadyCorrectlyTranslated__true {
  color: rgb(19, 65, 8) !important;

  /* padding-top: 11.5vh !important; */
  position: absolute;
  padding: 0 !important;
  top: 0px;
  left: 500px;
  font-size: 18px !important;
}

.translationForm__translationInput {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 17px !important;

  color: rgb(60, 62, 71);
  width: 25rem;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.translationForm__translationInput:focus {
  outline: none;
  cursor: none;
}
