body {
  background-image: url("/img/bk.png");
  color: #aaa;
  /* padding-top: 65vh; */
  /* margin-top: -5vh; */
  background-size: cover;
  height: 100vh;
}

.app {
  height: 100vh;
  padding-top: 55vh !important;
}

.app__header__logo__logoImage,
#testArea__component__linguanaImg,
.app__header__logo__logoText,
.stats__component__footerImg {
  display: none;
}

.stats__component--greenCircle {
  color: greenyellow;
}

.stats__component--redCircle {
  color: red;
}

.stats__component--blueCircle {
  color: #4444ff;
}

.app__footer {
  padding-top: 1vh;
  padding-bottom: 8vh;
  font-weight: bold;
}

.wordComparisonDialog > img {
  display: none;
}

.wordComparisonDialog > h1 {
  display: none;
}

.wordComparisonDialog {
  background: #333 !important;
  color: #666 !important;
  width: 30% !important;
  top: 40% !important;
  left: 60% !important;
  font-weight: normal !important;
}

.wordComparisonDialog__okButton {
  color: #999;
  background: #333;
  border: none;
}

.wordComparisonDialog__okButton:focus {
  outline: 0 none;
}

.wordComparisonDialog__Table > td {
  color: red;
}

.app__nav__navButton--openVocabularyManagerButton {
  color: #999;
  background: white;
  border: none;
  cursor: pointer;
}

.app__nav__navButton--startNewSessionButton {
  color: #999;
  background: white;
  border: none;
  cursor: pointer;
}

.app__header,
.app__nav {
  display: flex;
  justify-content: flex-end;
}

.app__main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.testArea__component__translationForm__translationInputGR:focus {
  outline: 0 none;
}

.startModal > img {
  display: none;
}

.startModal > h1 {
  display: none;
}

.startModal {
  background: #14212f !important;
  color: #666 !important;
}

.app__header__searchForm__searchInput {
  background: #fff !important;
  color: #fff !important;
  border: none;
}

.testArea__component__translationForm {
  display: flex;
  flex-wrap: wrap;
  width: 69vh;
}

.testArea__component__translationForm__sourceTerm {
  color: #555;
  padding-right: 1rem;
}

.testArea__component__translationForm__notes {
  color: #555;
  padding-left: 1rem;
}

.testArea__component__translationForm__translationInputGR {
  background: #3d2003;
  color: #666;
  border: solid 1px #3d200f;
  height: 2rem;
  width: 80vh;
}

.app__header__debugButtons__debugButton {
  height: 1rem;
  cursor: pointer;
}

.translationInput--correctTranslation {
  color: green !important;
}

.app__vocabularyManagerComponent__form__translationInputGR {
  color: blue;
}

.app__vocabularyManagerComponent__form__notes {
  background: #3d2003;
  border: solid 1px #3d200f;
}

.translationForm__entryAlreadyCorrectlyTranslated__false {
  color: rgb(85, 66, 66);
  font-size: 1.6rem;
}

.translationForm__entryAlreadyCorrectlyTranslated__true {
  color: rgb(19, 65, 8);
  font-size: 1.6rem;
}

.translationForm__translationInput {
  font-size: 1.3rem;
  color: rgb(60, 62, 71);
}
