body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#page > header {
  padding: 0.2rem 0rem 0.2rem 0rem;
  display: flex;
  justify-content: space-between;
  background-color: #ADB545;
  height: 12vh;
  border: solid 1px #8d901d;
}

#logo {
  display: flex;
  align-items: center;
}

#logoText {
  padding-top: 1rem;
  font-size: 4rem;
  font-weight: bold;
  color: #FCFFDE;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#logoImage {
  height: 5.4rem;
}

#page > nav {
  display: flex;
  height: 6vh;
  justify-content: space-around;
  background-color: #FCFFDE;
  color: white;
  padding-top: 1rem;
}

#page > main {
  background-color: #FCFFDE;
  flex: 1;
  height: 60vh;
}

#page > footer {
  background-color: #222;
  color: white;
  height: 10vh;
}

.navButton {
  width: 25%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#newSessionButton {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FCFFDE;
  background: #E79028;
  border: solid #8b5c02 1px;
  text-decoration: none;
  outline: 1;
}

#newSessionButton:hover {
  background: #fcc65d;
  border: solid #8b5c02 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#searchForm {
  padding-right: 1rem;
  padding-top: 1rem;
  display: flex;
}

#searchInput {
  width: 13rem;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1.8rem;
  padding-left: 0.6rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  box-shadow: none;
  border: solid 1px #8d901d;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #c9cb7b;
  color: #FCFFDE;
}

#searchInput:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 6px 2px #e9ebAb;
  outline: 0 none;
}

::-webkit-input-placeholder {
  color: #FCFFDE;
}
::-moz-placeholder {
  color: #FCFFDE;
}
:-ms-input-placeholder {
  color: #FCFFDE;
}
:-moz-placeholder {
  color: #FCFFDE;
}

#vocabularyManagerButton {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  background: #afb731;
  color: #FCFFDE;
  border: solid 1px #8d901d;
  text-decoration: none;
  outline: 1;
}

#vocabularyManagerButton:hover {
  background: #e4e8aa;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#testAreaDiv {
  display: flex;
  height: 100%;
  padding: 1rem;
  width: auto;
  justify-content: space-around;
  /*background: red;*/
}

img.linguanaFaceImg {
  padding-top: 11%;
  max-width: 100%;
  height: 38%;
  width: auto;
  align-self: center;
}

#translationForm {
  width: 80%;
  padding-top: 3%;
  padding-bottom: 4%;
  margin-left: -2%;
  display: flex;
  height: 75%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /*background: cyan;*/
}

.modalImg {
  max-width: 80%;
  height: 10%;
  width: auto;
}

img.finishModalLinguanaFaceImg {
  max-width: 100%;
  height: auto;
  width: 20%;
  align-self: center;
  padding-right: 2%;
}

.startModal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.finishModalImages {
  display: flex;
  width: 80%;
}

#sourceTermDiv {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-align: center;
  padding: 2rem 3rem 2rem 3rem;
  box-sizing: border-box;
  width: 95%;
  font-size: 6rem;
  background: #c3c59e;
  border: solid 1px #ADB585;
  color: #222;
}

#sourceTermDiv.correctTranslation {
  color: #66ff00;
}

.translationInput {
  text-align: center;
  padding: 2rem 3rem 2rem 3rem;
  box-sizing: border-box;
  width: 95%;
  font-size: 6rem;
  background: #d7d99e;
  border: solid 1px #ADB545;
}
.translationInput:focus {
  outline: 0 none;
}

.translationInput.correctTranslation {
  background-color: #99FF33;
}

#VocabularyManagerSubmitButton {
  visibility: hidden;
}

#stats {
  display: flex;
  font-weight: bold;
}

.wordComparisonTable {
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px;
}

.wordComparisonTable td {
  width: 70%;
  height: 1.8em;
  font-size: 30px;
  padding: 10px 10px 10px 15px;
}

.wordComparisonTable td:first-child {
  text-align: right;
  width: 30%;
  height: 1.8em;
  font-size: 30px;
  padding: 10px 10px 10px 15px;
}

.wordComparisonTable tr:first-child td:last-child {
  background: #43C;
  color: white;
}

.wordComparisonTable tr:last-child td:last-child {
  background: #D20;
  color: white;
}

.modalDialogTable {
  table-layout: fixed;
  width: 100%;
}

.modalDialogTable td {
  width: 50%;
  height: 1.8em;
  padding: 5px 5px 5px 15px;
  font-size: 22px;
}

.modalDialogTable tr:nth-child(odd) {
  background: #EEE;
}

.searchResultsTable {
  table-layout: fixed;
  width: 100%;
}

.searchResultsTable td {
  width: 50%;
  height: 1.8em;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
}

.searchResultsTable tr:nth-child(odd) {
  background: #EEE;
}
.searchResultsTable tr:nth-child(even) {
  background: #CCF;
}

.debug-button {
  width: 140px;
  margin-top: 15px;
  padding: 3px;
  cursor: pointer;
}

.css-modal-dialog-ok-button {
  background: #ECECEC;
  border-radius: 15px;
  padding: 10px 20px;
  display: block;
  font-family: arial;
  font-weight: bold;
  color: #7f7f7f;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  border: 1px solid #a7a7a7;
  width: 145px;
  margin: 0px auto;
  margin-top: 100px;
  box-shadow: 0px 2px 1px white inset,
    0px -2px 8px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.5s;
}

.css-modal-dialog-ok-button:hover {
  box-shadow: 0px 2px 1px white inset,
    0px -2px 20px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1);
}

.css-modal-dialog-ok-button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset,
    0px -2px 20px white,
    0px 1px 5px rgba(0, 0, 0, 0.1),
    0px 2px 10px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #ECECEC 100%);
}

.css-modal-dialog-ok-button:focus {
  outline: 0;
}

.css-congratulations-img {
  max-width: 100%;
  max-height: 100%;
}

.td-delete {
  text-align: center;
  color: white;
  background-color: red;
  cursor: pointer;
}

.td-edit {
  text-align: center;
  color: white;
  background-color: blue;
  cursor: pointer;
}
