body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page > header {
  padding: 0.2rem 1rem 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ADB545;
  height: 35%;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  color: #FCFFDE;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#page > nav {
  display: flex;
  min-height: 4vw;
  justify-content: space-around;
  background-color: #FCFFDE;
  color: white;
  height: 10%;
  padding-top: 0.5rem;
}

#page > main {
  background-color: #FCFFDE;
  flex: 1;
}

#page > footer {
  background-color: #222;
  color: white;
  min-width: 50px;
}

.navButton {
  width: 46%;
  height: 90%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#newSessionButton {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #FCFFDE;
  background: #E79028;
  border: solid #8b5c02 1px;
  text-decoration: none;
  outline: 1;
}

#newSessionButton:hover {
  background: #fcc65d;
  border: solid #8b5c02 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#vocabularyManagerButton {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  background: #afb731;
  color: #FCFFDE;
  border: solid #494c14 1px;
  text-decoration: none;
  outline: 1;
}

#vocabularyManagerButton:hover {
  background: #e4e8aa;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: solid #494c14 1px;
}

.translation_form {
  box-sizing: border-box;
}

.translationInput {
  font-size: 70px;
  padding: 20px;
  border: none;
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 30px;
}

.translationInput:focus {
  border: none;
  outline: 0 none;
}

.translationInput.correctTranslation {
  background-color: #2E2;
}

#VocabularyManagerSubmitButton {
  visibility: hidden;
}

#source_word_div {
  font-size: 70px;
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
}

#test-area-div {
  width: 100%;
  height: 100%;
}

.stats {
  font-weight: bold;
}

.wordComparisonTable {
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px;
}

.wordComparisonTable td {
  width: 70%;
  height: 1.8em;
  font-size: 30px;
  padding: 10px 10px 10px 15px;
}

.wordComparisonTable td:first-child {
  text-align: right;
  width: 30%;
  height: 1.8em;
  font-size: 30px;
  padding: 10px 10px 10px 15px;
}

.wordComparisonTable tr:first-child td:last-child {
  background: #43C;
  color: white;
}

.wordComparisonTable tr:last-child td:last-child {
  background: #D20;
  color: white;
}

.modalDialogTable {
  table-layout: fixed;
  width: 100%;
}

.modalDialogTable td {
  width: 50%;
  height: 1.8em;
  padding: 5px 5px 5px 15px;
  font-size: 22px;
}

.modalDialogTable tr:nth-child(odd) {
  background: #EEE;
}

#searchForm {
  padding: 1rem;
  display: flex;
}

#searchInput {
  width: 14rem;
  height: 1.9rem;
  padding-left: 0.3rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  box-shadow: none;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;

  /* todo: πιο ουδέτερο χρώμα στο search input 
  πιο μεγάλα γράμματα και λίγο πιο γκρι
  αλλη γραμματοσειρά στο start
  να κάνεις και τα υπόλοιπα emoticons να είναι οκ*/
}

#searchInput:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 6px 2px #969696;
  outline: 0 none;
}

.searchResultsTable {
  table-layout: fixed;
  width: 100%;
}

.searchResultsTable td {
  width: 50%;
  height: 1.8em;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
}

.searchResultsTable tr:nth-child(odd) {
  background: #EEE;
}
.searchResultsTable tr:nth-child(even) {
  background: #CCF;
}

.debug-button {
  width: 140px;
  margin-top: 15px;
  padding: 3px;
  cursor: pointer;
}

.css-modal-dialog-ok-button {
  background: #ECECEC;
  border-radius: 15px;
  padding: 10px 20px;
  display: block;
  font-family: arial;
  font-weight: bold;
  color: #7f7f7f;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  border: 1px solid #a7a7a7;
  width: 145px;
  margin: 0px auto;
  margin-top: 100px;
  box-shadow: 0px 2px 1px white inset,
    0px -2px 8px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.5s;
}

.css-modal-dialog-ok-button:hover {
  box-shadow: 0px 2px 1px white inset,
    0px -2px 20px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1);
}

.css-modal-dialog-ok-button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset,
    0px -2px 20px white,
    0px 1px 5px rgba(0, 0, 0, 0.1),
    0px 2px 10px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #ECECEC 100%);
}

.css-modal-dialog-ok-button:focus {
  outline: 0;
}

.css-congratulations-img {
  max-width: 100%;
  max-height: 100%;
}

/*::-webkit-input-placeholder {
  color: #BBB;
}
::-moz-placeholder {
  color: #BBB;
}
:-ms-input-placeholder {
  color: #BBB;
}
:-moz-placeholder {
  color: #BBB;
}*/

.td-delete {
  text-align: center;
  color: white;
  background-color: red;
  cursor: pointer;
}

.td-edit {
  text-align: center;
  color: white;
  background-color: blue;
  cursor: pointer;
}
