body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FCFFDE;
}

.app {
  display: grid;
  height: 98vh;
  padding: 1vh 1vh 1vh 1vh;
  grid-template-rows: 18vh 8vh 64vh 8vh;
}

.app__header {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding-bottom: 1vh;
  background-color: #ADB545;
  border: solid 1px #8d901d;
}

.app__header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  /*border: solid 1px red;*/
}

.app__header__logo__logoImage {
  height: 16vh;
}

.app__header__logo__logoText {
  padding-top: 4.3vh;
  font-size: 10vh;
  font-weight: bold;
  color: #FCFFDE;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /*border: solid 1px cyan;*/
}

.app__header__debugButtons {
  display: flex;
  /*display: none;*/
  flex-wrap: wrap;
  padding: 1vh;
  justify-content: space-around;
}

.app__header__debugButtons__debugButton {
  font-size: 1.8vh;
  padding: 0.8vh;
  text-align: center;
  width: 10vh;
  height: 2.3vh;
  cursor: pointer;
  background: #ECECEC;
  border-radius: 15px;
  display: block;
  color: #7f7f7f;
  text-decoration: none;
  border: 1px solid #a7a7a7;
}

.app__header__debugButtons__debugButton:hover {
  box-shadow: 0px 2px 1px white inset,
    0px -2px 6px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.1);
}

.app__header__debugButtons__debugButton:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset,
    0px -2px 20px white,
    0px 1px 5px rgba(0, 0, 0, 0.1),
    0px 2px 10px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #ECECEC 100%);
}

.app__header__searchForm {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 2vh;
}

.app__header__searchForm__searchInput {
  box-sizing: border-box;
  height: 4.2vh;
  padding-left: 1.6vh;
  width: 100%;
  flex-grow: 1;
  font-size: 2vh;
  font-weight: bold;
  background-color: #c9cb7b;
  color: #FCFFDE;
  border: solid 1px #8d901d;
  border-radius: 0.8vh;
  -moz-border-radius: 0.8vh;
  -webkit-border-radius: 0.8vh;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s;
  /*border: solid 1px red;*/
}

.app__header__searchForm__searchInput:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 6px 2px #e9ebAb;
  outline: 0 none;
}

::-webkit-input-placeholder {
  color: #FCFFDE; /*Για την placeholder του search */
}
::-moz-placeholder {
  color: #FCFFDE; /*Για την placeholder του search */
}
:-ms-input-placeholder {
  color: #FCFFDE; /*Για την placeholder του search */
}
:-moz-placeholder {
  color: #FCFFDE; /*Για την placeholder του search */
}

.app__nav {
  display: flex;
  justify-content: space-around;
  background-color: #FCFFDE;
  color: white;
  padding: 1.2vh;
  /*background: red;*/
}

.app__nav__navButton--startNewSessionButton {
  color: #FCFFDE;
  background: #E79028;
  border: solid #8b5c02 1px;

  width: 25%;
  font-size: 2.4vh;
  font-weight: bold;

  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  outline: 1;
}

.app__nav__navButton--startNewSessionButton:hover {
  background: #fcc65d;
  border: solid #8b5c02 1px;
  color: black;
}

.app__nav__navButton--openVocabularyManagerButton {
  width: 25%;
  font-size: 2.4vh;
  font-weight: bold;

  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  outline: 1;

  background: #afb731;
  color: #FCFFDE;
  border: solid 1px #8d901d;
}

.app__nav__navButton--openVocabularyManagerButton:hover {
  background: #e4e8aa;
  color: black;
}

.app__main {
  flex: 1;
  background-color: #FCFFDE;
}

.testArea__component {
  display: flex;
  height: 100%;
  padding: 0;
  width: auto;
  justify-content: space-around;
  /*align-items: center;*/
  /*background: red;*/
}

#testArea__component__linguanaImg {
  padding-top: 21vh;
  max-width: 100%;
  height: 25vh;
  width: auto;
  align-self: center;
  /*border: solid 1px black;*/
  margin-left: -4vh;
}

.testArea__component__translationForm {
  display: flex;
  width: 82%;
  padding-top: 1.5%;
  padding-bottom: 2%;
  margin-left: -3%;
  height: 82%;
  flex-direction: column;
  align-items: flex-start;
  /*justify-content: space-between;*/
  /*background: cyan;*/
}

.testArea__component__translationForm__sourceTerm {
  box-sizing: border-box;
  width: 95%;
  padding: 1vh 1vh 2.5vh 1vh;
  font-size: 12vh;
  margin-top: 1vh;
  /*margin-bottom: 2vh;*/
  color: black;

  text-align: center;

  background: #c3c59e;
  border: solid 1px #ADB585;

  border-top-left-radius: 2vh;
  -webkit-border-top-left-radius: 2vh;
  -moz-border-top-left-radius: 2vh;

  border-top-right-radius: 2vh;
  -webkit-border-top-right-radius: 2vh;
  -moz-border-top-right-radius: 2vh;
}

.testArea__component__translationForm__notes {
  box-sizing: border-box;
  width: 95%;
  padding: 1.5vh 0.5vh 1.5vh 0.5vh;
  font-size: 4vh;
  min-height: 8vh;
  color: black;
  margin: 0;
  text-align: center;

  background: #c3c59e;
  border: solid 1px #ADB585;
  border-top: none;

  border-bottom-right-radius: 2vh;
  -webkit-border-bottom-right-radius: 2vh;
  -moz-border-bottom-right-radius: 2vh;

  border-bottom-left-radius: 2vh;
  -webkit-border-bottom-left-radius: 2vh;
  -moz-border-bottom-left-radius: 2vh;
}

.testArea__component__translationForm__translationInputGR {
  text-align: center;
  padding: 2vh 1vh 3vh 1vh;
  box-sizing: border-box;
  width: 95%;
  font-size: 14vh;
  color: white;
  background: #d7d99e;
  margin-top: 4vh;
  border: solid 1px #ADB545;
  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.testArea__component__translationForm__translationInputGR:focus {
  outline: 0 none;
}

.translationInput--correctTranslation {
  background-color: #99FF33;
}

#vocabularyManagerForm {
  display: flex;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*background: cyan;*/
}

.wordComparisonDialog {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wordComparisonDialog__Table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0.3rem 1.2rem;
}

.wordComparisonDialog__Table td {
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
  padding-left: 1.8rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.wordComparisonDialog__Table td:first-child {
  text-align: right;
  width: 25%;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 10px 10px 15px;
}

.wordComparisonDialog__Table tr:first-child td:last-child {
  background: #c3c59e;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border: solid 1px #ADB545;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.wordComparisonDialog__Table tr:last-child td:last-child {
  background: #d7d99e;
  font-size: 3rem;
  font-weight: bold;
  color: red;
  border: solid 1px #ADB545;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.wordComparisonDialog__okButton {
  display: block;
  background: #ECECEC;
  font-size: 22px;
  border-radius: 15px;
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  border: 1px solid #888;
  width: 20rem;
  margin: 0px auto;
  margin-top: 3rem;
  cursor: pointer;
}

.wordComparisonDialog__okButton:focus {
  outline: none;
}

.wordComparisonDialog__okButton:hover {
  box-shadow: 0px 2px 1px white inset,
    0px -2px 20px white,
    0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 8px 10px rgba(0, 0, 0, 0.1);
}

.wordComparisonDialog__okButton:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset,
    0px -2px 20px white,
    0px 1px 5px rgba(0, 0, 0, 0.1),
    0px 2px 10px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #ECECEC 100%);
}

.app__vocabularyManagerComponent {
  display: flex;
  justify-content: center;
  /*background: red;*/
}
/* todo να το κάνω display grid*/
.app__vocabularyManagerComponent__form {
  display: flex;
  width: 90%;
  padding-top: 1.5%;
  padding-bottom: 2%;
  flex-direction: column;
  align-items: flex-start;
  background: cyan;
}

.app__vocabularyManagerComponent__form__greekFlag {
  padding-top: 13.5%;
  height: 15vh;
  width: auto;
  align-self: center;
}

.app__vocabularyManagerComponent__form__germanFlag {
  padding-top: 13.5%;
  height: 15vh;
  width: auto;
  align-self: center;
}

#vocabularyManagerTranslationInputDE {
  text-align: center;
  padding: 2rem 3rem 2rem 3rem;
  margin: 2rem 3rem 2rem 3rem;
  box-sizing: border-box;
  width: 75%;
  font-size: 5rem;
  /*background: #333 url(/img/german2.png) no-repeat;
  background-size: 10 % 100%;*/
  border: solid 1px #333;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.modalImg {
  max-width: 80%;
  height: 8rem;
  width: auto;
  margin-right: 2rem;
}

.startModal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.finishModalImages {
  display: flex;
  width: 80%;
}

#finishModal {
  top: 5% !important;
}

img.finishModalLinguanaFaceImg {
  max-width: 100%;
  height: auto;
  width: 20%;
  align-self: center;
  padding-right: 2%;
}

#VocabularyManagerSubmitButton {
  visibility: hidden;
}

.modalDialogTable {
  table-layout: fixed;
  width: 100%;
}

.modalDialogTable td {
  width: 50%;
  height: 1.5em;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  font-size: 1.3rem;
}

.modalDialogTable tr:nth-child(odd) {
  background: #EEE;
}

.searchResultsTable {
  table-layout: fixed;
  width: 100%;
}

.searchResultsTable td {
  width: 50%;
  height: 1.8em;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
}

.searchResultsTable tr:nth-child(odd) {
  background: #EEE;
}
.searchResultsTable tr:nth-child(even) {
  background: #CCF;
}

.css-congratulations-img {
  max-width: 100%;
  max-height: 100%;
}

.td-delete {
  text-align: center;
  color: white;
  background-color: red;
  cursor: pointer;
}

.td-edit {
  text-align: center;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.td-correctTranslationsCount {
  text-align: center;
  font-weight: bold;
  color: green;
}

.td-wrongTranslationsCount {
  text-align: center;
  font-weight: bold;
  color: red;
}

.td-totalTimesSelected {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.app__footer {
  background-color: #FCFFDE;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  padding-left: 16vh;
  /*background: red;*/
}

.stats__component {
  display: flex;
  height: 100%;
  width: 48%;
  justify-content: space-between;
  align-items: center;
  /*background-color: #ADB545;*/
  /*background: linear-gradient(0deg, #ADB585, #FCFFDE, #FCFFDE, #FCFFDE);*/
  /*border-bottom: solid 10px #ADB545;*/
}

.stats__component__totalCorrectAnswers {
  display: flex;
}

.stats__component__totalWrongAnswers {
  display: flex;
}

.stats__component__totalEntries {
  display: flex;
}

.stats__component__footerImg {
  align-self: center;
  height: 8vh;
  width: auto;
}

.stats__component__circledNumber {
  display: flex;
  margin-top: 0.6vh;
  margin-left: 0.4vh;
  border-radius: 50%;
  width: 4.4vh;
  height: 4.4vh;
  font-size: 2.1vh;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.stats__component--blueCircle {
  background: #4587fe;
  border: 1px solid black;
  color: #FCFFDE;
}

.stats__component--greenCircle {
  background: #86ca00;
  border: 1px solid black;
  color: #FCFFDE;
}

.stats__component--redCircle {
  background: #f72a2a;
  border: 1px solid black;
  color: #FCFFDE;
}
